# Ignore node_modules in client and server
/client/node_modules/
/server/node_modules/

# Ignore environment files in client and server
/client/.env
/server/.env

# Optional: ignore common OS or editor files
.DS_Store
.vscode/
